In [173]:
import pandas as pd
import collections
import math 
import numpy as np
import matplotlib.pyplot as plt
from sklearn import neighbors
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [174]:
orig_data = pd.read_csv(r"datasets/Insurance/final_data.csv")  # Loading data
orig_data.set_index('Id', inplace=True)  # Changing index
print(orig_data.head())

listOfX = [col for col in orig_data.columns if col not in ["CarInsurance", "Id"]]  # List of parameters

inputData = orig_data[listOfX]  # Getting parameters
outputData = orig_data["CarInsurance"]  # Getting answers

X_train, X_test, y_train, y_test = train_test_split(inputData, outputData, random_state=228, test_size=0.2)  # Spliting data

    CallTime  LastContactMonth  PrevAttempts  DaysPassed  HHInsurance  \
Id
1         70                 0             0          -1            1
2        185                 1             0          -1            1
3        340                 2             1         119            1
4        819                 1             0          -1            1
5        192                 2             0          -1            0

    NoOfContacts  CarInsurance
Id
1              2             0
2              5             0
3              1             1
4              2             1
5              1             0

In [175]:
print(X_train.shape)
X_train.head()

(3056, 6)

,CallTime,LastContactMonth,PrevAttempts,DaysPassed,HHInsurance,NoOfContacts
Id,,,,,,
3075,139,5,0,-1,0,2
1348,1230,1,0,-1,1,3
2546,72,1,0,-1,0,3
832,296,1,0,-1,1,1
748,1080,5,0,-1,0,3

In [176]:
y_train.head()

Id
3075    0
1348    1
2546    0
832     0
748     1
Name: CarInsurance, dtype: int64

In [177]:
# Getting numpy arrays from splitted data
X_mat_train = X_train.to_numpy()
X_mat_test = X_test.to_numpy()

y_mat_train = y_train.to_numpy().reshape(X_mat_train.shape[0], 1)
y_mat_test = y_test.to_numpy().reshape(X_mat_test.shape[0], 1)
print(X_mat_train.shape)
print(X_mat_test.shape)

print(y_mat_train.shape)
print(y_mat_test.shape)

(3056, 6)
(764, 6)
(3056, 1)
(764, 1)

In [178]:
def absDist(data, query):
    resDist = math.sqrt(np.sum(np.square(data - query)))
    return resDist

# absDist(np.array([2,0]), np.array([1,1]))

In [179]:
def distCalc(X, y, query, k):
    listDistances = []
    for i, data in enumerate(X):
        listDistances.append((i, absDist(data, query)))
    listDistances = np.array(sorted(listDistances, key=lambda dist: dist[1]))
#     print(type(listDistances))
#     print(listDistances[:k,0])
#     print(listDistances.shape)
    return listDistances[:k]


# X = np.array([[1,1], [2,0], [3,3], [1,1], [1,1]])
# y = [0,1,0]
# distCalc(X, y, X[0], 4)

In [180]:
def HopeKNN(X, y, query, k, taskType):
    predictions = []
    for i, val in enumerate(query): # Podymai moshet ydalit enamerate?
        kNearest = distCalc(X, y, val, k)
    #     print(kNearest)
        labels = y[kNearest[:, 0].astype(int), 0]
#         print(labels)
        if taskType == "classification":
    #         print(collections.Counter(labels))
            result = collections.Counter(labels).most_common()[0][0]
#             print(result)
            predictions.append(result)
    
        elif taskType == "regression":
            result = np.mean(labels)
#             print(result)
            predictions.append(result)
        
        else:
            print("Wrong taskType")
            return None
#     print(predictions)
    return predictions        
    
# X = np.array([[1,1], [2,0], [3,3], [1,1], [1,1]])
# y = np.array([[], [0], [1], [0], [0]])
# q = np.array([[2,3], [0,0]])
# k = 3
# HopeKNN(X, y, q, k, "classification")

In [181]:
dir(collections.Counter([1,2,1,1,0]))
collections.Counter([1,2,1,1,0])

Counter({1: 3, 2: 1, 0: 1})

In [182]:
resi = HopeKNN(X_mat_train, y_mat_train, X_mat_test, 5, "classification")

In [183]:
print('Test Accuracy', accuracy_score(y_mat_test, resi))

print(precision_score(y_mat_test, resi))
print(recall_score(y_mat_test, resi))

Test Accuracy 0.768324607329843
0.7152317880794702
0.7035830618892508

In [184]:
neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(X_mat_train, y_mat_train)

print('Test Accuracy', accuracy_score(y_mat_test, neigh.predict(X_mat_test)))

print(precision_score(y_mat_test, neigh.predict(X_mat_test)))
print(recall_score(y_mat_test, neigh.predict(X_mat_test)))

Test Accuracy 0.7604712041884817
0.7052980132450332
0.6938110749185668

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

In [185]:
orig_data = pd.read_csv(r"datasets/DEG/final_data.csv", index_col=0)  # Loading data

print(orig_data.head())

listOfX = [col for col in orig_data.columns if col not in ["G3"]]  # List of parameters

inputData = orig_data[listOfX]  # Getting parameters
outputData = orig_data["G3"]  # Getting answers

X_train, X_test, y_train, y_test = train_test_split(inputData, outputData, random_state=228, test_size=0.2)  # Spliting data

   failures  higher  age  Medu  Fedu  goout  G3
0         0       0   18     4     4      4   6
1         0       0   17     1     1      3   6
2         3       0   15     1     1      2  10
3         0       0   15     4     2      2  15
4         0       0   16     3     3      2  10

In [186]:
X_train

     failures  higher  age  Medu  Fedu  goout
99          0       0   16     4     3      5
4           0       0   16     3     3      2
291         0       0   17     4     3      2
378         0       0   18     3     3      3
25          2       0   16     2     2      2
..        ...     ...  ...   ...   ...    ...
44          1       0   16     2     2      3
249         0       0   16     0     2      2
371         0       1   18     1     2      3
144         3       0   17     2     1      5
389         1       0   18     1     1      1

[316 rows x 6 columns]

In [187]:
y_train

99      8
4      10
291    15
378    15
25      8
       ..
44      9
249    15
371    12
144     0
389     0
Name: G3, Length: 316, dtype: int64

In [188]:
# Getting numpy arrays from splitted data
X_mat_train = X_train.to_numpy()
X_mat_test = X_test.to_numpy()

y_mat_train = y_train.to_numpy().reshape(X_mat_train.shape[0], 1)
y_mat_test = y_test.to_numpy().reshape(X_mat_test.shape[0], 1)
print(X_mat_train.shape)
print(X_mat_test.shape)

print(y_mat_train.shape)
print(y_mat_test.shape)

(316, 6)
(79, 6)
(316, 1)
(79, 1)

In [189]:
resi = HopeKNN(X_mat_train, y_mat_train, X_mat_test, 5, "regression")

In [190]:
resi

[13.6,
 10.2,
 13.0,
 9.0,
 8.4,
 11.8,
 10.2,
 8.0,
 9.8,
 7.8,
 10.4,
 9.0,
 9.6,
 11.0,
 9.2,
 10.4,
 10.2,
 13.2,
 12.6,
 8.4,
 9.2,
 11.0,
 10.0,
 11.2,
 7.4,
 11.2,
 13.0,
 8.0,
 10.0,
 13.0,
 10.8,
 10.2,
 11.0,
 9.2,
 11.8,
 10.6,
 8.4,
 9.0,
 11.2,
 8.2,
 7.0,
 11.4,
 9.0,
 10.2,
 9.6,
 10.4,
 13.6,
 13.8,
 11.6,
 7.4,
 12.0,
 11.6,
 12.8,
 7.8,
 9.0,
 12.2,
 6.6,
 9.8,
 8.8,
 12.0,
 7.8,
 8.4,
 8.8,
 9.4,
 12.0,
 10.0,
 10.6,
 10.2,
 12.8,
 11.4,
 10.4,
 11.6,
 7.4,
 10.0,
 12.2,
 9.0,
 9.8,
 14.4,
 11.6]

In [191]:
mean_absolute_error(y_mat_test, resi)

3.7392405063291134

In [192]:
mean_squared_error(y_mat_test, resi)

24.563544303797467

In [193]:
y_mat_test

array([[ 7],
       [13],
       [14],
       [10],
       [ 0],
       [15],
       [18],
       [ 8],
       [ 7],
       [11],
       [10],
       [10],
       [12],
       [ 0],
       [12],
       [12],
       [14],
       [10],
       [14],
       [ 8],
       [18],
       [13],
       [11],
       [12],
       [11],
       [ 0],
       [15],
       [ 0],
       [ 9],
       [10],
       [10],
       [13],
       [11],
       [ 5],
       [11],
       [16],
       [ 9],
       [14],
       [11],
       [ 7],
       [ 7],
       [ 0],
       [16],
       [14],
       [11],
       [ 9],
       [14],
       [11],
       [15],
       [14],
       [ 9],
       [ 0],
       [15],
       [13],
       [13],
       [10],
       [ 0],
       [18],
       [11],
       [ 0],
       [10],
       [ 0],
       [11],
       [17],
       [ 0],
       [11],
       [14],
       [11],
       [ 6],
       [16],
       [11],
       [18],
       [13],
       [14],
       [10],
       [11],
       [11],
       [13],
       [12]], dtype=int64)

In [194]:
from sklearn.neighbors import KNeighborsClassifier

In [195]:
neigh = neighbors.KNeighborsRegressor(n_neighbors=5, weights="distance")

In [196]:
skres = neigh.fit(X_mat_train, y_mat_train).predict(X_mat_test)

In [197]:
mean_absolute_error(y_mat_test, skres)

3.758025772538794

In [198]:
mean_squared_error(y_mat_test, skres)

26.9069717880285